<template>
  <v-app>
    <v-content>
      <div class="wrapper">
        <div class="bubble-orange">
        </div>
        <div class="bubble-green">
        </div>
        <div class="bubble-purple">
        </div>
      </div>

      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
  export default {

  }
</script>

<style>
  .theme--light.application {
    background: #faf8f5;
  }

  .wrapper {
      left: 50%;
      position: absolute;
      display: inline-block;
      height: 0;
      width: 0;
      position: absolute;
  }

  .bubble-orange {
    /*top: 110px;*/
    top: 10vw;
    left: 37vw;
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #ff8155;
  }

  .bubble-green {
    /*top: 255px;*/
    top: 20vw;
    left: -42vw;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #5edbd5;
  }

  .bubble-purple {
    /*top: 264px;*/
    top: 40vw;
    left: 40vw;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #8652d0;
  }
</style>
