<template>
  <v-container fill-height>
    <v-layout align-center justify-center>
      <div class="text-xs-center">
        <div class="display-4 blue-grey--text text--darken-2">404</div>
        <div class="display-2 blue-grey--text text--darken-1 font-weight-light mt-2">Oops!</div>
        <div class="title blue-grey--text text--darken-2 font-weight-light mt-4">Page not found...</div>

        <v-btn outline round class="mt-5 orange orange--text text--darken-3" @click="$router.go(-1)">
          Go Back
        </v-btn>
      </div>
    </v-layout>
  </v-container>
</template>
