<template>
  <v-container>
    <v-layout color="red" flat>
      <v-spacer></v-spacer>
      <div v-if="authenticated && user">
        <v-menu offset-y>
          <p slot="activator" class="subheading blue-grey--text text--darken-3">Hello, <span class="font-weight-medium">{{ user.name }}</span></p>
          <v-list>
            <v-list-tile>
              <v-list-tile-title>
                <router-link to="/login" class="logout blue-grey--text text--darken-3">Logout</router-link>
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </div>
    </v-layout>

    <v-layout row>
      <v-flex xs12 sm8 offset-sm2>
        <div class="text-xs-center mt-3 mb-4">
          <v-flex xs12>
            <span class="todo-title subheading text-uppercase font-weight-bold orange--text text--darken-2">Todo App</span>
          </v-flex>
          <span class="headline font-weight-light">Lorem Ipsum</span>
        </div>

        <v-layout align-space-around justify-center row class="mb-5">
          <v-flex xs12 sm6 md3>
            <v-card class="quantity-card" :class="{ 'active-card elevation-6': filter == 'all' }">
              <v-card-title primary-title @click="filter = 'all'">
                <div class="blue-grey--text text--darken-3">
                  <h3 class="display-1 font-weight-light mb-2">{{ all }}</h3>
                  <div class="text-uppercase">All</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
          <v-flex class="mx-3" xs12 sm6 md3>
            <v-card class="quantity-card" :class="{ 'active-card elevation-6': filter == 'active' }">
              <v-card-title primary-title @click="filter = 'active'">
                <div class="blue-grey--text text--darken-3">
                  <h3 class="display-1 font-weight-light mb-2">{{ active }}</h3>
                  <div class="text-uppercase">Active</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
          <v-flex xs12 sm6 md3>
            <v-card class="quantity-card" :class="{ 'active-card elevation-6': filter == 'completed' }">
              <v-card-title primary-title @click="filter = 'completed'">
                <div class="blue-grey--text text--darken-3">
                  <h3 class="display-1 font-weight-light mb-2">{{ completed }}</h3>
                  <div class="text-uppercase">Completed</div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>

        <div v-if="authenticated && user">
          <v-layout row wrap>
            <v-flex xs12>
              <v-text-field
                v-model="newTodo"
                solo
                label="What needs to be done"
                @keyup.enter="addTodo()"
              >
                <v-menu
                  slot="append-outer"
                  style="top: -12px"
                  offset-y
                >
                  <v-btn slot="activator" class="orange white--text" depressed @click="addTodo()">
                    <v-icon left>add</v-icon>
                    Add
                  </v-btn>
                </v-menu>
              </v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap v-if="todos.length">
            <v-spacer></v-spacer>
            <div class="mb-2 py-1 colors">
              <span
                v-for="(color, index) in colors"
                :key="index"
                @click="colorFilter = color"
              >
                <v-icon v-if="color === colorFilter" :color="color" class="mx-1 color-icon" small>radio_button_checked</v-icon>
                <v-icon v-else :color="color" class="mx-1 color-icon" small>lens</v-icon>
              </span>
            </div>
          </v-layout>

          <v-card class="mb-3" v-if="filteredTodos.length">
            <v-list two-line subheader>
              <v-list-tile
                v-for="(todo, index) in filteredTodos"
                :key="todo.id"
                avatar
                @click=""
                class="todo-item"
              >
                <v-list-tile-avatar>
                  <v-icon v-if="todo.completed" color="cyan" @click="setCompleted(todo)">check_circle_outline</v-icon>
                  <v-icon v-else color="grey" @click="setCompleted(todo)">radio_button_unchecked</v-icon>
                </v-list-tile-avatar>

                <v-list-tile-content :class="{ completed: todo.completed}">
                  <v-list-tile-title
                    v-if="!todo.editing"
                    @dblclick="editTodo(todo)"
                  >
                    {{ todo.title }}
                  </v-list-tile-title>
                  <v-text-field
                    v-else
                    v-model="todo.title"
                    @blur="doneEdit(todo)"
                    @keyup.enter="doneEdit(todo)"
                    @keyup.esc="cancelEdit(todo)"
                    v-focus
                  ></v-text-field>
                  <v-list-tile-sub-title v-if="!todo.editing">{{ todo.created_at }}</v-list-tile-sub-title>
                </v-list-tile-content>

                <v-list-tile-action :class="{ completed: todo.completed}">
                  <v-menu offset-y>
                    <v-btn icon ripple slot="activator">
                      <v-icon :color="todo.color" small>lens</v-icon>
                    </v-btn>
                    <v-list>
                      <v-list-tile
                        v-for="(color, index) in colors"
                        :key="index"
                        @click="setColor(todo, color)"
                      >
                        <v-icon :color="color" small>lens</v-icon>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </v-list-tile-action>
                <v-list-tile-action class="action-buttons" :class="{ completed: todo.completed}">
  <!--                 <v-btn icon ripple @click="editTodo(todo)" v-if="!todo.editing">
                    <v-icon :color="todo.editing ? 'blue lighten-1' : 'grey'">edit</v-icon>
                  </v-btn> -->
                  <v-btn icon ripple @click="removeTodo(index, todo)">
                    <v-icon color="grey">delete_outline</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </v-card>

          <v-btn
            flat
            color="blue-grey darken-1"
            @click="checkAllTodos()"
            v-if="filteredTodos.length"
          >
            <v-icon v-if="!active" class="mr-2" color="cyan">check_circle_outline</v-icon>
            <v-icon v-else class="mr-2" color="grey">radio_button_unchecked</v-icon>
            <span v-if="!active">Unheck</span>
            <span v-else>Check </span>
            &nbsp;All
          </v-btn>
        </div>

        <div v-else class="text-xs-center subheading blue-grey--text text--darken-1">
          Please,<v-btn to="/login">Login</v-btn>to start using the application.
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        authenticated: auth.check(),
        user: auth.user,
        beforeEditTitle: '',
        colors: ['grey lighten-1', 'red darken-1', 'cyan', 'blue lighten-1'],
        colorFilter: 'grey lighten-1',
        filter: 'all',
        todos: [],
        newTodo: ''
      }
    },

    mounted() {
      Event.$on('userLoggedIn', () => {
        this.authenticated = true
        this.user = auth.user
      })

      this.retrieveTodos()
    },

    directives: {
      focus: {
        inserted: function (el) {
          el.focus()
        }
      }
    },

    computed: {
      active () {
        return this.todos.filter(todo => !todo.completed).length
      },

      all () {
        return this.todos.length
      },

      completed () {
        return this.todos.filter(todo => todo.completed).length
      },

      filteredTodos () {
        if (this.filter == 'all') {
          if (this.colorFilter === 'grey lighten-1') {
            return this.todos
          }
          return this.todos.filter(todo => todo.color === this.colorFilter)
        } else if (this.filter == 'active') {
          if (this.colorFilter === 'grey lighten-1') {
            return this.todos.filter(todo => !todo.completed)
          }
          return this.todos.filter(todo => !todo.completed && todo.color === this.colorFilter)
        } else if (this.filter == 'completed') {
          if (this.colorFilter === 'grey lighten-1') {
            return this.todos.filter(todo => todo.completed)
          }
          return this.todos.filter(todo => todo.completed && todo.color === this.colorFilter)
        }

        return this.todos
      }
    },

    methods: {
      addTodo () {
        if (this.newTodo.trim().length === 0) {
          return
        }

        axios.post('/todos', {
          title: this.newTodo,
          completed: false
        })
          .then(response => {
            console.log(response.data)
            this.todos.push(response.data)
          })
          .catch(error => {
            console.log(error)
          })

        this.newTodo = ""
      },

      canselEdit (todo) {
        todo.title = this.beforeEditTitle
        todo.editing = false
      },

      checkAllTodos() {
        let active = this.active ? true : false
        this.todos.forEach((todo) => todo.completed = active)

        axios.patch('/todos/update-all', {
          completed: active,
        })
          .then(response => {
            console.log(response.data)
          })
          .catch(error => {
            console.log(error)
          })
      },

      doneEdit (todo) {
        if (todo.title.trim().length === 0) {
          todo.title = this.beforeEditTitle
        }
        todo.editing = false
      },

      editTodo (todo) {
        this.beforeEditTitle = todo.title
        todo.editing = true
      },

      removeTodo (index, todo) {
        axios.delete('/todos/' + todo.id)
          .then(response => {
            this.todos.splice(index, 1)
          })
          .catch(error => {
            console.log(error)
          })
      },

      retrieveTodos () {
        axios.get('/todos')
          .then(response => {
            this.todos = response.data
          })
          .catch(error => {
            console.log(error)
          })
      },

      setColor (todo, color) {
        todo.color = color
        this.updateTodo(todo)
      },

      setCompleted (todo) {
        todo.completed = !todo.completed
        this.updateTodo(todo)
      },

      updateTodo (todo) {
        axios.patch('/todos/' + todo.id, {
          title: todo.title,
          completed: todo.completed,
          color: todo.color,
        })
          .then(response => {
            console.log(response.data)
          })
          .catch(error => {
            console.log(error)
          })
        }
    }
  }
</script>

<style scoped>
  .todo-title {
    letter-spacing: 2px;
  }

  .completed {
    opacity: 0.4;
  }

  .colors {
    margin-top: -20px;
  }

  .quantity-card {
    border-top: 4px solid transparent !important;
  }

  .quantity-card:hover {
    background: #E1F6F2 !important;
    transform: translateY(1px);
    cursor: pointer;
    box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)!important;
  }

  .active-card {
    border-top: 4px solid #5EDBD5 !important;
    transform: translateY(1px);
  }

  .medium-icon {
    font-size: 20px;
  }

  .small-icon {
    font-size: 16px;
  }

  .color-icon:hover {
    cursor: pointer;
    opacity: 0.6;
  }

/*  .action-buttons {
    align-items: inherit;
    flex-direction: inherit;
  }*/

  .logout {
    text-decoration: none;
  }
</style>
