<template>
  <v-container fluid fill-height>
    <v-snackbar
      v-model="snackbar"
      :multi-line="mode === 'multi-line'"
      right="right"
      :timeout="3000"
      top="top"
      :vertical="mode === 'vertical'"
      color="red darken-1"
    >
      {{ message }}
      <v-btn
        color="white"
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-form @submit.prevent="login">
            <v-toolbar flat color="orange darken-3 ">
              <v-toolbar-title class="white--text text-uppercase">Todo App | Register</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-text-field v-model="username" prepend-icon="person" name="name" label="Name" type="text"></v-text-field>
              <v-text-field v-model="email" prepend-icon="email" name="login" label="Email" type="email"></v-text-field>
              <v-text-field v-model="password" id="password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-btn block outline class="orange darken-3 orange--text text--darken-3 mx-3 mt-1 mb-4" @click="" type="submit">Login</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        email: '',
        mode: '',
        message: '',
        password: '',
        snackbar: false,
        username: ''
      };
    },

    mounted () {
      auth.logout()
    },

    methods: {
      login() {
        let data = {
          username: this.username,
          password: this.password
        }

        axios.post('/api/login', data)
          .then(({data}) => {
            auth.login(data.token, data.user)

            this.$router.push('/')
          })
          .catch(({response}) => {
            this.message = response.data.message
            this.snackbar = true
          })
      }
    }
  }
</script>

